<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/styles/404.css">
	<title>404 - Страница не найдена</title>
</head>
<body>
	    <header>
        <div class="container">
            <div class="header__content">
                <h1 class='header__title'>{{ app.name }}</h1>
                <nav>
                    <ul class='header__list'>
                        <li><a href="/">Главная</a></li>
                        <li><a href="/users">Пользователи</a></li>
                        <li><a href="/currencies">Курсы валют</a></li>
                        <li><a href="/author">Об авторе</a></li>
                    </ul>
                </nav>
            </div> 
        </div>
    </header>

		<main>
			<h2>Страница не найдена</h2>
		</main>
</body>
</html>