<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/styles/author.css">
	<title>Об авторе</title>
</head>

<body>
	<header>
		<div class="container">
			<div class="header__content">
				<h1 class='header__title'>{{ app.name }}</h1>
				<nav>
					<ul class='header__list'>
						<li><a href="/">Главная</a></li>
						<li><a href="/users">Пользователи</a></li>
						<li><a href="/currencies">Курсы валют</a></li>
						<li><a href="/author">Об авторе</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<main>
		<div class="container">
			<div class="personal-data__content">
				<h2>Об авторе</h2>
				<div class="personal-data__item">
					<h3>ФИО</h3>
					<p>Ефимов Сергей Робертович</p>
				</div>
				<div class="personal-data__item">
					<h3>Возраст</h3>
					<p>19 лет</p>
				</div>
				<div class="personal-data__item">
					<h3>Курс и группа</h3>
					<p>2 курс, ИВТ-2</p>
				</div>
			</div>
		</div>


	</main>
</body>

</html>