<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ app.name }} — Главная</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="header__content">
                <h1 class='header__title'>{{ app.name }}</h1>
                <nav>
                    <ul class='header__list'>
                        <li><a href="/">Главная</a></li>
                        <li><a href="/users">Пользователи</a></li>
                        <li><a href="/currencies">Курсы валют</a></li>
                        <li><a href="/author">Об авторе</a></li>
                    </ul>
                </nav>
            </div> 
        </div>
    </header>

    <main>
        <div class="container">
            <div class="main__content">
                <h2>Автор</h2>
                <p><strong>{{ app.author.name }}</strong></p>
                <p><strong>{{ app.author.group }}</strong></p>

                <p class='version'>Версия: <strong>{{ app.version }}</strong></p>
            </div>
        </div>
        
    </main>
</body>
</html>
