@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	background-color: #444444;
	color: #fcf5e4;
}

header {
	background-color: #212121;
	padding: 30px 0;
}

main {
	margin-top: 100px;
}

.container {
	max-width: 1440px;
	padding-inline: 20px;
}

.header__content {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	
	color: #EDB217;
	align-items: center;
}

.header__title {
	font-size: 32px;
}

.header__list {
	display: flex;
	gap: 15px;
}

.header__list li {
	list-style-type: none;
	font-size: 18px;
}

.header__list li a {
	color: #EDB217;
	text-decoration: none;
	transition: .5s;
}

.header__list li a:hover {
	color: #f86e50;
}

main {
	text-align: center;
}

main h2 {
	font-size: 54px;
}

@media (max-width: 768px) {
	.header__content {
		display: block;
		text-align: center;
	}
	.header__list {
		justify-content: center;
		gap: 12px;
	}
	.header__list li {
		font-size: 16px;
	}
}