@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	background-color: #444444;
	color: #FCF5E4;
}

header {
	background-color: #212121;
	padding: 30px 0;
}

main {
	margin-top: 100px;
}

li {
	list-style-type: none;
}

.container {
	max-width: 1440px;
	padding-inline: 20px;
}

.header__content {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	
	color: #EDB217;
	align-items: center;
}

.header__title {
	font-size: 32px;
}

.header__list {
	display: flex;
	gap: 15px;
}

.header__list li {
	list-style-type: none;
	font-size: 18px;
	
}

.header__list li a {
	color: #EDB217;
	text-decoration: none;
	transition: .5s;
}

.header__list li a:hover {
	color: #f86e50;
}

.users__content {
	text-align: center;
}

.users__content a {
	text-decoration: none;
	color: #EDB217;
	transition: .5s;
}

.users__content a:hover {
	color: #f86e50;
}

.users__content li {
	margin-bottom: 20px;
}

.users__content li a {
	display: block;
}